@model IEnumerable<IndiaMirror.Models.Advertisement>

@{
    ViewData["Title"] = "index";
}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark  bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">IndiaMirror</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class='nav-item'><a class='nav-link active' href="/News"> Home</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/User/Logout">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
<h1>Welcome, @ViewBag.user.Name</h1>

<p>
    <button class="btn btn-dark"><a asp-action="AddAdvertisement" style="text-decoration:none; color:white;">Create New Advertisement</a></button>
</p>
<div class="table-responsive">
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.image_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.business_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.start_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end_time)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                <div class="d-flex align-items-center">
                    <img src=@Html.DisplayFor(modelItem => item.image_url)
                         alt=""
                         style="width: 80px; height: 60px"
                         class="rounded" />
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-dark"><a target="_blank" href=@Html.DisplayFor(modelItem => item.business_url) style="text-decoration:none; color:white">Visit</a></button>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @if (item.status == "pending")
                {
                    <span class="badge bg-warning rounded-pill d-inline">
                        @Html.DisplayFor(modelItem => item.status)
                    </span>
                }
                @if (item.status == "Accepted")
                {
                    <span class="badge bg-success rounded-pill d-inline">
                        @Html.DisplayFor(modelItem => item.status)
                    </span>
                }
                @if (item.status == "Rejected")
                {
                    <span class="badge bg-danger rounded-pill d-inline">
                        @Html.DisplayFor(modelItem => item.status)
                    </span>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.start_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_time)
            </td>

            <td>
                @if(item.payment == "False")
                {
                    <span class="badge bg-warning rounded-pill d-inline">
                        @Html.DisplayFor(modelItem => item.payment)
                    </span>
                }
                @if(item.payment != "False")
                {
                <span class="badge bg-success rounded-pill d-inline">
                    @Html.DisplayFor(modelItem => item.payment)
                </span>
                }

            </td>
            <td>

                <a asp-action="EditAdvertisement" asp-route-id="@item.Id"><button class="btn btn-warning my-1">Edit</button></a>
                <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-primary my-1">Details</button> </a>
                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger my-1">Delete</button></a>
                @if (item.payment == "False")
                {<a asp-action="payment" asp-route-id="@item.Id"><button class="btn btn-success my-1"> Make Payment</button> </a>}

            </td>
        </tr>
        }
    </tbody>
</table>
    </div>
